
<h1>hello World</h1>

    <button id="renderBtn">
        Render
    </button>
    <div class="container">
        <canvas id="myChart"></canvas>
    </div>

<script src="static/myChart.js" type="text/javascript"></script>